#inputTask {
  width: 21em;
}

.list-area {
  margin-top: 3em;
}

.item-container {
  background-color: #E5F9C8;
  margin: 1.5em 5em;
  padding: 1em;
  border: 3px solid black;
}

.item-container p {
  font-size: 1.8em;
}

.list-title {
  font-size: 6em;
  margin-bottom: 0.3em;
}

.instructions {
  margin-top: 1em;
}

.complete-button {
  margin-right: 0.5em;
}

.red {
  color: #FF0000;
}

.blue {
  color: #50ABF9;
}