#inputTask {
  width: 21em;
}

.list-area {
  margin-top: 3em;
}

.item-container {
  background-color: #B6B6B6;
  margin: 1.5em 5em;
  padding: 1em;
  border-radius: 3px;
}

.item-container p {
  font-size: 1.8em;
}

.list-title {
  font-size: 6em;
  margin-bottom: 0.3em;
  font-family: 'Bree Serif', serif;
}

.instructions {
  display: none;
  margin-top: 1em;
  font-family: 'Cabin', serif;
}

.complete-button {
  margin-right: 0.5em;
}

.red {
  color: #FF0000;
}

.blue {
  color: #50ABF9;
}

.list-items {
  font-family: 'Cabin', serif;
}